In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
url = 'https://galaxyfacts-mars.com/'

In [3]:
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [4]:
type(tables)

list

In [5]:
df = tables[0]
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [6]:
df, df.columns = df[1:] , df.iloc[0]
df

0 Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days
6            Temperature:     -87 to -5 °C      -88 to 58°C

In [7]:
df = df.set_index(keys = "Mars - Earth Comparison")
df

0                                   Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [11]:
html_table = df.to_html('original_data_table.html')
html_table

In [41]:
from bs4 import BeautifulSoup
from bs4.element import Tag

# load the file
with open('original_data_table.html') as inf:
    txt = inf.read()
    soup = bs4.BeautifulSoup(txt)

n_tags = soup.find_all("\n")
    
for n_tag in n_tags:
    n_tag.name = "" # replaces h2 tag with h1 
    
# save the file again
with open("original_data_table.html", "w") as outf:
    outf.write(str(soup))

In [42]:
from bs4 import BeautifulSoup
from bs4.element import Tag

# load the file
with open('original_data_table.html') as inf:
    txt = inf.read()
    soup = bs4.BeautifulSoup(txt)

tag = soup.table
tag['class'] = 'table table-striped'
tag['border'] = '2'


# save the file again
with open("original_data_table.html", "w") as outf:
    outf.write(str(soup))